Source: cityzones-maps-service
Section: misc
Priority: optional
Maintainer: João Paulo Just Peixoto <just1982@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://cityzones.just.pro.br
#Vcs-Browser: https://salsa.debian.org/debian/cityzones-maps-service
#Vcs-Git: https://salsa.debian.org/debian/cityzones-maps-service.git
Rules-Requires-Root: no

Package: cityzones-maps-service
Version: 1.0-1
Architecture: amd64
Depends: python3, python3-dotenv, python3-geojson, python3-requests, python3-requests-toolbelt, osmium-tool, ${misc:Depends}
Description: CityZones Maps-service
 The CityZones Maps-service is a Python 3 program that acts as a worker
 for the CityZones Application Server. The worker will periodically request
 a task from CityZones and perform all the processing locally, sending
 back the results to the web server.
